<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=DESKTOP-24IFPL5\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True"/>
    <add name="AtoLotOleDbProvider" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-24IFPL5\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=SSPI"/>
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>